body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
}

/* LOGIN */
.login-box {
  width: 300px;
  background: white;
  padding: 30px;
  margin: 100px auto;
  border-radius: 10px;
  animation: fadeIn 1s;
}

.login-box input, .login-box button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.login-box button {
  background: #4facfe;
  color: white;
  border: none;
  cursor: pointer;
}

/* NAVBAR */
nav {
  background: #4facfe;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

/* CONTENT */
.content {
  padding: 30px;
  animation: slideIn 1s;
}

.card {
  background: white;
  padding: 20px;
  margin-top: 15px;
  border-radius: 8px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

/* ANIMASI */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes slideIn {
  from {transform: translateX(-50px); opacity: 0;}
  to {transform: translateX(0); opacity: 1;}
}
